# Foundations in R Coding Challenge: Week 1

## Overview

Foundations in R: Welcome to your first coding challenge! This is a weekly installment of challenges we encourage you to complete to both improve your data science problem solving skills and programming ability in R.

This week, we focus on _Problem Specification_ and doing simple financial mathematics using R.

## Submitting your Attempt

1. Rename the notebook by clicking on `Coding Challenge Week 1` at the very top and add your initials and surname to the end of the file name. This makes the notebook identifiable for us.
2. Save this using the `Save` icon on the toolbar (we encourage that you do this regularly as you are working through the assignment)
3. When you are ready to submit, download the notebook as an HTML file by going to `File -> Download As` in the top bar and selecting `.html`. 
4. To upload your attempt, go to the Coding Challenges in R forum for the week and upload your HTML file.
5. A memo will be provided when the next assignment is posted.
6. We encourage you to discuss the assignment among fellow students using the closed Coding Challenges in R forum but note that you must submit your own attempt.

If you are unable to download/upload, please contact us at info@actuartech.com to arrange alternative methods.

## Question 1

You work within an actuarial team and are tasked with evaluating and investigating risk associated with marine vessels. A colleague of yours suggests using the _Titanic_ dataset since it contains an account of the individuals on board and whether or not they survived. They also noted that insight gained following the very famous marine tragedy of 15 April 1912 could be used as a proxy for future incidents.

Below is the _Titanic_ data for reference. Note that Chapter 2 on _Data Collection_ will cover importing data.

Source: https://www.kaggle.com/jamesleslie/titanic-cleaned-data?select=train_clean.csv

In [1]:
titanic <- read.csv("Data/titanic.csv", header = TRUE, sep = ",")
head(titanic, 10)

   Age Cabin Embarked Fare
1  22        S         7.2500
2  38  C85   C        71.2833
3  26        S         7.9250
4  35  C123  S        53.1000
5  35        S         8.0500
6  30        Q         8.4583
7  54  E46   S        51.8625
8   2        S        21.0750
9  27        S        11.1333
10 14        C        30.0708
   Name                                                Parch PassengerId Pclass
1  Braund, Mr. Owen Harris                             0      1          3
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) 0      2          1
3  Heikkinen, Miss. Laina                              0      3          3
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        0      4          1
5  Allen, Mr. William Henry                            0      5          3
6  Moran, Mr. James                                    0      6          3
7  McCarthy, Mr. Timothy J                             0      7          1
8  Palsson, Master. Gosta Leonard                      1      8          3
9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   2      9          3
10 Nasser, Mrs. Nicholas (Adele Achem)                 0     10          2
   Sex    SibSp Survived Ticket           Title  Family_Size
1  male   1     0        A/5 21171        Mr     1
2  female 1     1        PC 17599         Mrs    1
3  female 0     1        STON/O2. 3101282 Miss   0
4  female 1     1        113803           Mrs    1
5  male   0     0        373450           Mr     0
6  male   0     0        330877           Mr     0
7  male   0     0        17463            Mr     0
8  male   3     0        349909           Master 4
9  female 0     1        347742           Mrs    2
10 female 1     1        237736           Mrs    1

### Question 1.1

Define the problem or problems you may wish to investigate. Be specific about what you would like to solve and any hypothesis you may have.

### _Answer_

_Double-click to begin typing here_

### Question 1.2

Discuss how, based on initial investigations, the suggested Titanic dataset could or couldn't address your problem outlined in **1.1**.

### _Answer_

_Double-click to begin typing here_

### Question 1.3

Comment on your colleague's suggestions of using this dataset as a proxy going forward and additional investigations you would wish to perform

### _Answer_

_Double-click to begin typing here_

## Question 2

Below is a set of financial mathemetics calculations to perform using R. They only require knowldege of the mathematical operators found in R. 

Enter your code in the code cell provided. Your final answer should print when the cell is run. You are welcome to use multiple cells to structure your answer, if necessary, with the final cell contaning your final answer.

### Question 2.1

Calculate the time in years for £2 000 to accumulate to £2 450 at:

1. a simple rate of interest of 4.5% per annum
2. an annual rate of interest of 4.5% per annum

_Hint:_
- _Simple interest formula: $FV = PV(1+in)$_
- _Compound interest formula: $FV = PV(1+i)^n$_

In [3]:
# Question 2.1

### Question 2.2

An insurance company has the following liabilities:
- £88 500 due in 9 years’ time
- £137 500 due in 22 years’ time
- £22 200 due next year 

Its assets consist of the following:
- £65 950 to be received in 4 years’ time
- £68 000 available immediately
- £X to be received in n years’ time 

The current interest rate is 7% per annum effective.

Calculate the following using the information provided:

1. The net present value of the liabilities
2. The value of £X such that the present value of assets equal the present value of liabilities if n is:
    1. 10 years
    2. 15 years

In [4]:
# Question 2.2